.article-hero {
  padding: 76px 0 0;
  position: relative;
  margin: 0 0 100px 0;

  @include vp-1023 {
    padding: 18px 0 0 0;
    margin: 0 0 32px 0;
  }

  @include vp-767 {
    padding: 28px 0 0 0;
    margin: 0 0 24px 0;
  }

  &__decor {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    pointer-events: none;
  }

  &__decor-img {
    width: 1214px;
    height: 577px;
    position: absolute;
    left: 54%;
    transform: translate(-50%, -50%);
    top: 39%;
    z-index: -1;

    @media (max-width: 1400px) {
      width: calc(1214px - 20%);
      height: calc(577px - 20%);
      object-fit: contain;
    }

    @media (max-width: 1150px) {
      width: calc(1214px - 30%);
      height: calc(577px - 30%);
    }

    @include vp-1023 {
      width: 984px;
      height: 478px;
      left: 46%;
      top: 28%;
    }

    @include vp-767 {
      width: 357px;
      height: 245px;
      left: 50%;
      top: 28%;
    }
  }

  &__wrapper {
    display: flex;
    gap: 80px;

    @include vp-1023 {
      flex-direction: column;
      gap: unset;
    }
  }

  &__back {
    display: none;

    @include vp-1023 {
      display: flex;
      margin: 0 0 61px 0;
    }

    @include vp-767 {
      display: none;
    }
  }

  &__picture {
    flex-shrink: 0;

    @include vp-1023 {
      display: flex;
      justify-content: center;
      margin: 0 0 51px 0;
    }

    @include vp-767 {
      margin: 0 -10px 20px;
    }
  }

  &__img {
    height: 440px;
    width: 440px;

    @media (max-width: 1400px) {
      height: 380px;
      width: 380px;
    }

    @include vp-1023 {
      height: 340px;
      width: 360px;
    }

    @include vp-767 {
      width: 320px;
      height: 302px;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    padding: 20px 0 0;

    @include vp-1023 {
      padding: 0;
    }
  }

  &__date {
    font-size: 16px;
    line-height: 20px;
    font-weight: 300;
    color: $color-dim-gray;
    margin: 0 0 20px 0;

    @include vp-1023 {
      font-size: 14px;
      line-height: 18px;
    }

    @include vp-767 {
      font-size: 12px;
      line-height: 16px;
      margin: 0 0 10px 0;
    }
  }

  &__title {
    font-size: 40px;
    line-height: 52px;
    font-weight: 300;
    color: $color-blue;
    margin: 0;

    @media (max-width: 1400px) {
      font-size: 30px;
      line-height: 46px;
    }

    @include vp-1023 {
      font-size: 40px;
      line-height: 52px;
    }

    @include vp-767 {
      font-size: 28px;
      line-height: 36px;
    }
  }
}
