.blog-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 360px;
  padding: 32px;
  border-radius: 20px;
  background: $color-white;
  $root: &;
  position: relative;

  @include vp-1023 {
    min-height: 320px;
    padding: 28px;
  }

  @include vp-767 {
    min-height: 366px;
    padding: 40px 32px;
  }

  &--top {
    margin-top: -80px;

    @media (max-width: 1399px) {
      margin-top: 0;
    }
  }

  &__link {
    position: absolute;
    inset: 0;
    z-index: 2;
    &:hover {
      +picture {
        .blog-card__img {
          transform: translate(-20px, 20px);
        }
      }
    }
  }

  &__img {
    position: absolute;
    z-index: 1;
    top: -80px;
    right: -48px;
    width: 228px;
    height: 228px;
    object-fit: contain;
    pointer-events: none;
    transition: transform $transition-300;

    @media (max-width: 1299px) {
      right: -30px;
    }

    @include vp-1023 {
      top: -48px;
      right: -20px;
      width: 188px;
      height: 188px;
    }

    @include vp-767 {
      top: -100px;
      right: -20px;
      width: 200px;
      height: 200px;
    }
  }

  &__tags {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    min-height: 76px;
    margin-top: 0;
    margin-bottom: 72px;
    padding: 0;
    list-style: none;
    gap: 8px;

    @include vp-1023 {
      margin-bottom: 50px;
    }

    @include vp-767 {
      margin-bottom: 72px;
    }
  }

  &__tag {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 8px;
    color: $color-dim-gray;
    border: 1px solid $color-dim-gray;
    border-radius: 4px;

    @include vp-1023 {
      padding: 6px;
    }

  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 17px;
  }

  &__date {
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    position: relative;
    z-index: 1;
    margin: 0;
    color: $color-black;

    @include vp-1023 {
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 300;
    line-height: 26px;
    margin: 0;
    color: $color-black;

    @include vp-1023 {
      font-size: 18px;
      line-height: 26px;
    }

    @include vp-767 {
      overflow: hidden;
      max-height: 104px;
      text-overflow: ellipsis;
    }
  }

  &__link {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}
