.burger {
  display: none;
  border: none;
  background-color: transparent;
  padding: 0;
  height: 32px;
  width: 32px;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    width: 42px;
    height: 42px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @include vp-1023 {
    display: flex;
  }
}
