.custom-checkbox {
  &__field {
    outline: none;
    &:checked {
      & + .custom-checkbox__label {
        border-color: $color-blue;
        color: $color-blue;
      }

      &:hover,
      &:focus-visible {
        & + .custom-checkbox__label {
          background-color: $color-blue;
          color: $color-white;
        }
      }
    }

    &:not(:checked):hover,
    &:not(:checked):focus-visible {
      & + .custom-checkbox__label {
        background-color: $color-dim-gray;
        color: $color-white;
      }
    }
  }

  &__label {
    align-items: center;
    background-color: transparent;
    border: 1px solid $color-dim-gray;
    border-radius: 4px;
    color: $color-dim-gray;
    cursor: pointer;
    display: flex;
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    justify-content: center;
    padding: 7px;
    transition:
      background-color $transition-300,
      color $transition-300,
      border-color $transition-300;
  }
}
