.header {
  padding: 30px 0;

  @include vp-1023 {
    padding: 22px 0;
  }

  @include vp-767 {
    padding: 30px 0;
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__logo {
    display: flex;
    margin: 0 115px 0 0;

    @media (max-width: 1300px) {
      margin: 0 50px 0 0;
    }

    @include vp-767 {
      margin: 0 10px 0 0;
    }
  }

  &__logo-icon {
    height: 19px;
    width: 354px;

    @media (max-width: 1300px) {
      width: 300px;
    }

    @include vp-1023 {
      width: 354px;
      height: 18px;
      
    }

    @include vp-767 {
      width: 238px;
      height: 12px;
    }
  }

  &__social {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 0;
    margin: 0 0 0 auto;
    list-style: none;

    @include vp-1023 {
      display: none;
    }
  }

  &__social-link {
    display: flex;
    color: $color-black;
    transition: color $transition-300;

    &:hover,
    &:focus-visible {
      color: $color-dim-gray;
    }
  }

  &__burger {
    @include vp-1023 {
      margin: 0 0 0 auto;
    }
  }
}
