.see-more {
  padding-bottom: 100px;

  @include vp-1023 {
    padding-bottom: 160px;
  }

  @include vp-767 {
    padding-bottom: 39px;
  }

  &__title {
    font-size: 40px;
    font-weight: 300;
    line-height: 52px;
    margin: 0 0 180px 0;

    @media (max-width: 1399px) {
      margin-bottom: 89px;
    }

    @include vp-767 {
      font-size: 28px;
      line-height: 36px;
      margin-bottom: 99px;
    }
  }

  &__list {
    display: grid;
    align-items: start;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(3, 1fr);
    gap: 140px 60px;

    @media (max-width: 1399px) {
      padding-top: 0;
      grid-template-columns: repeat(2, 1fr);
    }

    @include vp-1023 {
      gap: 80px 32px;
    }

    @include vp-767 {
      grid-template-columns: 1fr;
      gap: 99px 0;
    }
  }

  &__item {
    &--desktop {
      @media (max-width: 1399px) {
        display: none;
      }
    }
  }
}
