body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 30px;
  color: #333;
}

form {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #999;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form label {
  display: flex;
  flex-direction: column;
}

form label span{
  display: block;
  margin-bottom: 5px;
}

.checkbox-label {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

form input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  margin-bottom: 5px;
}

form button {
  display: flex;
  width: fit-content;
  padding: 5px 10px;
}

.btn {
  display: none;
}

.btn--active {
  display: flex;
}

select:hover,
input:hover {
  background-color:#f4f4f4;
}

table {
  width: 100%;
  background-color: #fff;
  text-align: left;
  border-collapse: collapse;
  box-shadow: 0px 0px 5px #999;
}

th,
td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #333;
  color: #fff;
}

td {
  vertical-align: top;
}