.playlistsPage {
  color: bisque;
}

.playlists {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.playlists a {
  color: cornflowerblue;
  cursor: pointer;
}

.playlists a:hover {
  color: rgb(72, 111, 184);
}

.playlists button {
  text-align: left;
  color: cornflowerblue;
}

.playlists button:hover {
  text-align: left;
  color: rgb(72, 111, 184);
}