.categories {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px 0 20px;
    border-bottom: 1px solid $color-iron;

    @include vp-1023 {
      padding: 20px 0;
      gap: 30px;
    }

    @include vp-767 {
      padding: 15px 0;
      flex-direction: row;
      justify-content: space-between;
    }

    @include vp-767 {
      padding: 15px 0 14px;
    }
  }

  &__menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    @include vp-1023 {
      overflow: scroll;
      flex-wrap: nowrap;
      margin: 0 -20px;
      padding: 0 20px;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__menu-item {
    @include vp-767 {
      display: none;
    }

    &--active .categories__menu-link {
      pointer-events: none;
      background-color: $color-blue-charcoa;
      color: $color-white;
    }

    &:not(.categories__menu-item--active) .categories__menu-link {
      &:hover,
      &:focus-visible {
        background-color: $color-chrome-white;
      }
    }

    &--all {
      display: none;

      @include vp-767 {
        display: flex;
      }
    }
  }

  &__switch {
    display: flex;
    gap: 30px;

    @include vp-1023 {
      gap: 20px;
      justify-content: center;
    }
  }

  &__btn {
    color: $color-mischka;
    @include vp-767 {
      span {
        display: none;
      }
    }

    &:not(.categories__btn--active) {
      &:hover,
      &:focus-visible {
        text-decoration: underline;
        color: $color-blue-charcoa;
      }
    }

    &--active {
      color: $color-blue-charcoa;
      pointer-events: none;
    }
  }

  &__switch-icon {
    width: 24px;
    height: 24px;

    @include vp-767 {
      width: 20px;
      height: 20px;
    }
  }
}
