.news-card {
  width: 100%;
  padding: 60px 28px 59px;
  display: grid;
  grid-template-columns: 340px auto auto;
  gap: 5.5%;
  cursor: pointer;
  
  &:hover,
  &:focus-visible {
    background-color: $color-twilight-blue;
    outline: none;
  }

  @include vp-1023 {
    grid-template-columns: 280px 1fr;
    grid-auto-rows: max-content;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 30px 0;
  }

  &__inner {
    padding-left: 28px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 428px;

    @include vp-767 {
      max-width: none;
      padding: 0;
      flex-direction: column-reverse;
      gap: 9px;
    }
  }

  &__group {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include vp-767 {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      min-height: 32px;
    }
  }

  &__title {
    margin: 0;
    font-weight: 200;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: $color-blue-charcoa;

    @media (max-width: 1200px) {
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.016em;
    }
  }

  &__date {
    margin: 0;
    font-size: 14px;
    line-height: 20px;
    color: $color-mischka;

    @include vp-767 {
      font-size: 12px;
      line-height: 16px;
    }
  }

  &__text {
    margin: 0;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.01em;
    color: $color-blue-charcoa;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;;
    text-overflow: ellipsis;

    @media (max-width: 1200px) {
      font-size: 16px;
      line-height: 22px;
    }

    @include vp-1023 {
      grid-column: span 2;
      -webkit-line-clamp: 6;
      letter-spacing: normal;
    }

    @include vp-767 {
      font-size: 12px;
      line-height: 16px;
      grid-column: unset;
      padding: 5px 0 0 0;
      -webkit-line-clamp: 9;
    }
  }
  
  &__picture-grid {
    display: none;
  }

  &__img {
    @include vp-767 {
      width: 100%;
    }
  }

  &__btn {
    &:empty {
      display: none;
    }
  }
}