.news {
  &__wrapper {
    display: grid;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__list-item {
    overflow: hidden;
    
    &:not(:last-child) {
      border-bottom: 1px solid $color-iron;
    }
  }

  &--grid {
    padding: 40px 0 20px 0;

    @include vp-767 {
      padding: 30px 0 15px 0;
    }

    .news__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;

      @include vp-767 {
        grid-template-columns: 1fr;
        gap: 15px;
      }
    }

    .news-card {
      display: flex;
      gap: 0;
      position: relative;
      height: 100%;
      padding: 40px;
      min-height: 360px;

      @include vp-767 {
        padding: 20px;
        min-height: 200px;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
      }

      &:hover,
      &:focus-visible {
        background-color: rgba(0, 0, 0, 0.5);
      }
    }

    .news-card__picture-list {
      display: none;
    }

    .news-card__picture-grid {
      display: flex;
    }

    .news__list-item {
      border: none;
    }

    .news-card__img {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;
      width: 100%;
      height: 100%;
    }

    .news-card__inner {
      flex-direction: column-reverse;
      gap: 10px;
      height: 100%;
      padding: 0;
      max-width: none;
    }

    .news-card__group {
      flex-direction: column-reverse;
      gap: 10px;
      height: 100%;
    }

    .news-card__group {
      justify-content: space-between;
      align-items: start;
    }

    .news-card__title {
      color: $color-white;
      letter-spacing: 0.028em;
      font-size: 24px;
      line-height: 28px;

      @include vp-1023 {
        font-size: 16px;
        line-height: 20px;
      }
    }

    .news-card__date {
      color: $color-white;
      margin-top: auto;
    }

    .news-card__text {
      display: none;
    }
  }
}