.advantages {
  margin: 0 0 60px 0;

  @include vp-1024 {
    margin: 0 0 100px 0;
  }

  @include vp-1304 {
    margin: 0 0 120px 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    box-shadow: 0px 4px 20px rgba(20, 26, 43, 0.16);
    border-radius: 16px;
    gap: 16px;
    padding: 20px 22px 20px 20px;

    @include vp-768 {
      padding: 24px;
      gap: 24px;
    }

    @include vp-1024 {
      padding: 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 24px;
      box-shadow: none;
      border-radius: unset;
    }

    @include vp-1304 {
      gap: 25px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;

    @include vp-1024 {
      width: 100%;
      height: 100%;
      background-color: #F4F6FA;
      border-radius: 16px;
      padding: 32px 20px;
      text-align: center;
      gap: 8px;
    }
  }

  &__title {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;

    @include vp-1024 {
      font-size: 24px;
      line-height: 28px;
    }
  }

  &__text {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $color-storm-grey-1;

    @include vp-768 {
      font-size: 16px;
      line-height: 22px;
    }
  }
}