.benefit {
  margin: 0 0 60px 0;

  @include vp-1024 {
    margin: 0 0 100px 0;
  }

  @include vp-1304 {
    margin: 0 0 120px 0;
  }

  &__wrapper {
    position: relative;
    padding: 20px 20px 40px 20px;
    background-color: $color-cornflower-blue;
    border-radius: 16px;

    @include vp-768 {
      padding: 40px 24px 60px 24px;
    }

    @include vp-1024 {
      padding: 40px 60px;
    }

    @include vp-1304 {
      padding: 80px 0 80px 80px;
      display: flex;
    }
  }

  &__picture {
    @include vp-1304 {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &__image {
    margin: 0 auto 20px auto;

    @include vp-768 {
      margin: 0 auto 40px auto;
    }

    @include vp-1304 {
      margin: 0;
    }
  }

  &__content {
    @include vp-1304 {
      max-width: 560px;
    }
  }

  &__title {
    margin: 0 0 12px 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.04em;
    color: $color-white;

    @include vp-1024 {
      margin: 0 0 20px 0;
      font-size: 32px;
      line-height: 36px;
    }
  }

  &__heading-text {
    margin: 0 0 24px 0;
    font-size: 16px;
    line-height: 22px;
    color: $color-white;

    @include vp-1024 {
      margin: 0 0 32px 0;
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__list {
    list-style-type: none;
    margin: 0 0 32px 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 11px 0;
    color: $color-white;

    @include vp-768 {
      margin: 0 0 35px 0;
      gap: 13px 0;
    }

    @include vp-1024 {
      margin: 0 0 40px 0;
      gap: 15px 0;
    }

    @include vp-1304 {
      gap: 13px;
      margin: 0 0 42px 0;
    }
  }

  &__item {
    position: relative;
    padding: 0 0 0 32px;
  }

  &__icon {
    position: absolute;
    top: 0;
    left: 0;
  }

  &__text {
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    color: $color-white;
  }

  &__bottom-text {
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    color: $color-white;
  }
}
