.bonus-card {
  display: flex;
  min-height: 200px;
  height: 100%;
  background-color: $color-seashell;
  border-radius: 16px;

  @include vp-1024 {
    min-height: 294px;
    justify-content: space-between;
    align-items: center;
    gap: 0 7px;
  }

  @include vp-1304 {
    min-height: 270px;
    gap: 0 6px;
  }

  &__content {
    min-height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px 0;

    @include vp-768 {
      padding: 24px 0 24px 24px;
    }

    @include vp-1304 {
      padding: 32px;
      gap: 8px 0;
    }
  }

  &__label {
    margin: 0;
    padding: 8px 12px;
    font-size: 13px;
    line-height: 16px;
    color: $color-white;
    background-color: $color-black-russian;
    border-radius: 12px;
  }

  &__title {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    @include vp-1024 {
      max-width: 180px;
      font-size: 28px;
      line-height: 32px;
    }

    @include vp-1304 {
      max-width: 240px;
    }
  }

  &__text {
    margin: 0;
    flex-grow: 1;
    font-size: 16px;
    line-height: 22px;

    @include vp-1024 {
      max-width: 180px;
    }

    @include vp-1304 {
      max-width: 240px;
    }
  }

  &__button {
    margin: 0;
    display: flex;
    align-items: center;
    gap: 0 8px;
    font-size: 14px;
    line-height: 18px;
    color: $color-black-russian;
  }

  &__icon {
    flex-shrink: 0;
  }

  &__image {
    display: none;
    flex-shrink: 0;

    @include vp-1024 {
      display: block;
    }

    @include vp-1304 {
      margin: 0 40px 0 0;
    }
  }
}
