.bonus {
  margin: 0 0 60px 0;

  @include vp-1024 {
    margin: 0 0 100px 0;
  }

  @include vp-1304 {
    margin: 0 0 120px 0;
  }

  &__title {
    margin: 0 0 28px 0;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: -0.02em;

    @include vp-768 {
      margin: 0 0 32px 0;
      font-size: 28px;
      line-height: 32px;
    }

    @include vp-1024 {
      max-width: 700px;
      margin: 0 auto 40px auto;
      font-size: 40px;
      line-height: 44px;
      text-align: center;
      letter-spacing: -0.04em;
    }

    @include vp-1304 {
      margin: 0 auto 60px auto;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 16px 0;

    @include vp-1024 {
      flex-direction: row;
      gap: 0 16px;
    }

    @include vp-1304 {
      gap: 0 20px;
    }
  }

  &__item {
    @include vp-1024 {
      width: calc(50% - 8px);
    }

    @include vp-1304 {
      width: calc(50% - 10px);
    }
  }
}