.custom-checkbox {
  width: 330px;

  @include vp-768 {
    width: 728px;
  }

  @include vp-1024 {
    width: unset;
  }

  &__input:checked + .custom-checkbox__label {
    .custom-checkbox__field {
      background-color: $color-royal-blue-1;
      border-color: $color-royal-blue-1;
    }

    .custom-checkbox__icon {
      color: $color-white;
    }
  }

  &__label {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    cursor: pointer;
  }

  &__field {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    border: 1px solid $color-periwinkle-2;
    border-radius: 4px;
    background-color: $color-white;

    &:hover,
    &:focus-visible {
      outline: none;
      border-color: $color-royal-blue-1;
    }
  }

  &__icon {
    width: 12px;
    height: 12px;
    color: transparent;
  }

  &__text {
    margin: 0;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.007em;
  }

  &__link {
    color: $color-royal-blue-1;

    &:hover,
    &:focus-visible {
      outline: none;
      color: $color-free-speech-blue;
    }
  }
}
