.debit-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  background-color: $color-solitude-1;
  border-radius: 12px;

  @include vp-768 {
    padding: 24px;
  }

  @include vp-1024 {
    padding: 0;
    background-color: unset;
    align-items: center;
    text-align: center;
    gap: 16px;
    padding: 0 10px;
  }

  &__icon-wrapper {
    @include vp-1024 {
      display: flex;
      padding: 16px;
      border-radius: 12px;
      background-color: $color-royal-blue-1;
      margin: 0 0 4px 0;
    }
  }

  &__icon {
    width: 32px;
    height: 32px;

    @include vp-1024 {
      color: $color-white;
    }
  }

  &__title {
    margin: 0;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    @include vp-1024 {
      font-size: 24px;
      line-height: 28px;
    }
  }

  &__text {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: $color-storm-grey-3;

    @include vp-1024 {
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__link {
    color: $color-royal-blue-1;

    &:hover,
    &:focus-visible {
      color: $color-free-speech-blue;
      outline: none;
    }
  }
}