.footer {
  padding: 40px 0;
  background-color: $color-solitude-1;

  @include vp-1024 {
    padding: 80px 0;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 40px;

    @include vp-768 {
      display: grid;
      row-gap: 60px;
      grid-template-columns: repeat(2, 1fr);
    }

    @include vp-1024 {
      grid-template-columns: 216px repeat(2, 1fr);
      column-gap: 64px;
    }

    @include vp-1304 {
      grid-template-columns: 224px repeat(2, 1fr);
      column-gap: 100px;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
  }

  &__logo-link {
    display: flex;
    margin: 0 0 32px 0;
    color: $color-royal-blue-1;

    &:hover,
    &:focus-visible {
      color: $color-free-speech-blue;
    }

    @include vp-768 {
      margin: 0 0 40px 0;
    }
  }

  &__logo-image {
    width: 188px;
    height: 40px;

    @include vp-1024 {
      width: 170px;
      height: 36px;
    }
  }

  &__contacts,
  &__phone,
  &__feedback,
  &__location,
  &__right,
  &__policy,
  &__copyright {
    display: flex;
    flex-direction: column;
  }

  &__contacts {
    row-gap: 16px;
    margin: 0 0 24px;

    @include vp-768 {
      row-gap: 20px;
      margin: 0 0 32px 0;
    }
  }

  &__phone-link {
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;

    &:focus-visible,
    &:hover {
      color: $color-royal-blue-1;
    }
  }

  &__phone-text,
  &__feedback-text,
  &__location-text,
  &__policy-link,
  &__cookie,
  &__copyright-text,
  &__app-platform {
    font-size: 13px;
    line-height: 16px;
    color: $color-storm-grey-1;

    @include vp-1304 {
      font-size: 14px;
      line-height: 18px;
    }
  }

  &__app {
    display: flex;
    align-items: center;
    column-gap: 16px;
    margin: 0 0 24px 0;

    @include vp-768 {
      margin: 0 0 32px 0;
    }

    &:focus-visible,
    &:hover {
      .footer__app-name {
        color: $color-royal-blue-1;
      }

      .footer__app-platform {
        color: $color-black-russian;
      }
    }
  }

  &__app-icon {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
  }

  &__app-name {
    font-size: 14px;
    line-height: 18px;

    @include vp-1304 {
      font-size: 16px;
      line-height: 22px;
    }
  }

  &__app-text {
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  &__feedback {
    row-gap: 12px;
    margin: 0 0 24px;

    @include vp-768 {
      margin: 0 0 32px;
    }
  }

  &__feedback-btn {
    width: 160px;
  }

  &__location {
    row-gap: 6px;
  }

  &__location-link {
    display: flex;
    align-items: center;
    column-gap: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    color: $color-royal-blue-1;

    @include vp-1304 {
      font-size: 16px;
      line-height: 22px;
    }

    &:focus-visible,
    &:hover {
      color: $color-royal-blue-2;
    }
  }

  &__nav-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px 0;

    @include vp-768 {
      max-width: 300px;
      gap: 16px 0;
    }

    @include vp-1304 {
      max-width: 390px;
    }
  }

  &__nav-item {
    display: flex;
  }

  &__nav-link {
    font-size: 14px;
    line-height: 18px;

    @include vp-1304 {
      font-size: 16px;
      line-height: 22px;
    }

    &:focus-visible,
    &:hover {
      color: $color-royal-blue-1;
    }
  }

  &__right {
    @include vp-768 {
      grid-column: span 2;
    }

    @include vp-1024 {
      grid-column: auto;
    }
  }

  &__policy {
    row-gap: 8px;
    margin: 0 0 32px 0;

    @include vp-768 {
      row-gap: 10px;
      margin: 0 0 32px 0;
    }

    @include vp-1024 {
      row-gap: 12px;
    }

    @include vp-1304 {
      max-width: 395px;
    }
  }

  &__policy-link {
    &:focus-visible,
    &:hover {
      color: $color-black-russian;
    }
  }

  &__cookie,
  &__socials {
    margin: 0 0 24px 0;

    @include vp-768 {
      margin: 0 0 32px 0;
    }
  }

  &__copyright-text {
    margin: 0;
  }

  &__copyright {
    row-gap: 8px;
    margin: 0 0 24px 0;

    @include vp-768 {
      margin: 0 0 20px 0;
    }
  }

  &__copyright-date {
    font-size: 10px;
    line-height: 12px;
    color: $color-storm-grey-2;
  }

  &__language-link {
    display: flex;
    align-items: center;
    column-gap: 8px;
    font-size: 13px;
    line-height: 16px;
    color: $color-storm-grey-1;

    &:focus-visible,
    &:hover {
      color: $color-black-russian;
    }
  }
}
