.form {
  &__wrapper {
    margin: 0 0 24px 0;
    display: flex;
    flex-direction: column;
    gap: 12px 0;

    @include vp-768 {
      gap: 16px 0;
    }

    @include vp-1024 {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 24px;
    }

    .custom-input {
      @include vp-1024 {
        width: calc(50% - 12px);

        &:first-child {
          width: 100%;
        }
      }
    }
  }

  .btn {
    width: 100%;

    @include vp-1024 {
      width: 110px;
      margin: 0 0 0 auto;
    }
  }

  .custom-checkbox {
    margin: 0 0 24px 0;

    @include vp-1024 {
      margin: 0 0 40px 0;
    }
  }
}