.intro {
  margin: 0 0 24px 0;
  overflow: hidden;

  &__banner-wrapper {
    background-color: $color-alice-blue;

    @include vp-1304 {
      padding: 20px 0;
    }
  }

  &__banner {
    position: relative;
    padding: 40px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;

    @include vp-768 {
      padding: 60px 0 0 0;
      gap: 24px;
    }

    @include vp-1304 {
      padding: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 0 44px;
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include vp-1304 {
      align-items: flex-start;
      margin: 0;
      max-width: 520px;
    }
  }

  &__title {
    margin: 0 0 16px 0;
    font-weight: 700;
    font-size: 28px;
    line-height: 32px;
    text-align: center;

    @include vp-768 {
      margin: 0 0 24px 0;
      max-width: 560px;
      font-size: 32px;
      line-height: 36px;
    }

    @include vp-1024 {
      max-width: 680px;
      font-size: 40px;
      line-height: 44px;
    }

    @include vp-1304 {
      margin: 0 0 28px 0;
      text-align: left;
    }
  }

  &__text {
    margin: 0 0 28px 0;
    max-width: 320px;
    font-size: 16px;
    line-height: 22px;
    text-align: center;

    @include vp-768 {
      margin: 0 0 40px 0;
      max-width: 100%;
    }

    @include vp-1024 {
      font-size: 18px;
      line-height: 24px;
    }

    @include vp-1304 {
      margin: 0 0 68px 0;
      max-width: 400px;
      text-align: left;
    }
  }

  &__button {
    min-width: 240px;
  }

  &__picture {
    width: fit-content;
  }
}
