.usersPage {
	color: bisque;
}

.users {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.users a {
	color: cornflowerblue;
	cursor: pointer;
}

.users a:hover {
	color: rgb(72, 111, 184);
}

.users button {
	text-align: left;
	color: cornflowerblue;
}

.users button:hover {
	text-align: left;
	color: rgb(72, 111, 184);
}