// Colors 
$color-white: #ffffff;
$color-black: #000000;
$color-transparent: rgba(255, 255, 255, 0);
$color-white-smoke: #F2F2F2;
$color-dim-gray: #737373;
$color-black-russian: #1E222E;
$color-blue: #1919EF;
$color-suva-grey: #8B8B8B;
$color-whisper: #E4E4E4;

// Typography
$ff-main: "Unbounded", "Arial", sans-serif;

// Viewport
$vp-tablet: 1023px;
$vp-mobile: 767px;

// Animation
$transition-300: ease-in 0.3s;
