/* Global */
/* ------------------------------------ */
@import "global/_normalize.scss";
@import "global/_variables";
@import "global/_mixins";
@import "global/_fonts";
@import "global/_reboot";
@import "global/_container";
@import "global/_visually-hidden";


/* Blocks */
/* ------------------------------------ */
@import "blocks/_btn";
@import "blocks/_custom-input";
@import "blocks/_custom-checkbox";
@import "blocks/_social";
@import "blocks/_header";
@import "blocks/_hero";
@import "blocks/_advantages";
@import "blocks/_respectability";
@import "blocks/_image-card";
@import "blocks/_unique";
@import "blocks/_architecture";
@import "blocks/_children-info";
@import "blocks/_elite-promo";
@import "blocks/_next";
@import "blocks/_footer";

