.note-list-view {
  position: relative;
}

.note-list-view__list {
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 100%;

  margin-inline: auto;
  overflow: auto;
  padding: 16px 0 30px;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.note-list-view__empty {
  margin: 0 0 0 16px;
  font-size: 24px;
  line-height: 26px;
  font-weight: 600;
}