.PlaylistsInfoPage {
  color: aqua;
}

.playlist__wrapper {
  border-bottom: 1px solid whitesmoke;
}

.PlaylistsInfoPage a {
  color: cornflowerblue;
  cursor: pointer;
}

.PlaylistsInfoPage a:hover {
  color: rgb(72, 111, 184);
}