.architecture {
  overflow: hidden;
  padding: 0 0 170px 0;
  position: relative;

  @include vp-767 {
    padding: 0 0 35px 0;
  }

  &__decor {
    position: absolute;
    right: 0;
    bottom: 80px;
    z-index: -1;
    pointer-events: none;
  }

  &__title {
    max-width: 654px;
    margin: 0 auto 50px;
    font-size: 70px;
    line-height: 1.1;
    letter-spacing: -0.035em;
    color: $color-ottoman;
    font-family: $ff-secondary;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;

    @include vp-767 {
      font-size: 40px;
      margin: 0 0 20px 0;
    }
  }

  &__image {
    width: 100vw;
    transform: translateX(-50%);
    position: relative;
    left: 50%;
    margin: 0 0 48px 0;

    @include vp-767 {
      margin: 0 0 23px;
    }
  }

  &__img {
    width: 100%;
    height: 731px;

    @include vp-767 {
      height: 335px;
    }
  }

  &__list {
    display: flex;
    justify-content: center;
    margin: 0 0 93px;
    padding: 0;
    list-style: none;
    gap: 50px;
    color: $color-ottoman;

    @include vp-767 {
      flex-direction: column;
      gap: 30px;
      margin: 0 0 60px 0;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__number {
    font-size: 100px;
    line-height: 1;
    font-family: $ff-secondary;
    margin: 0 auto 40px;

    @include vp-767 {
      font-size: 50px;
      margin: 0 auto 5px;
    }
  }

  &__item-text {
    max-width: 280px;
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    text-transform: uppercase;
    margin: 0;

    @include vp-767 {
      font-size: 16px;
      line-height: 1.35;
      text-transform: lowercase;
      max-width: 210px;
    }
  }

  &__text {
    max-width: 890px;
    font-size: 28px;
    line-height: 1.5;
    text-transform: uppercase;
    margin: 0;
    color: $color-white;

    @include vp-767 {
      font-size: 18px;
    }

    &--green {
      color: $color-ottoman;
    }
  }
}
