.hero {
  position: relative;
  height: 100vh;

  &__wrapper {
    display: flex;
    justify-content: center;
    padding: 100px 0 135px;
    min-height: 650px;

    @include vp-767 {
      padding: 80px 0;
    }
  }

  &__picture {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
  }

  &__img {
    height: 100%;
    width: 100%;
  }

  &__title {
    font-weight: 400;
    margin: 0;
    font-family: $ff-secondary;
    color: $color-ottoman;
    line-height: 1;
    display: flex;
    flex-direction: column;
    padding: 109px 0 0;
    width: 909px;
    align-items: flex-start;

    @include vp-1023 {
      width: 708px;
    }

    @include vp-767 {
      width: 320px;
      padding: 0;
      margin: auto 0 0 0;
    }
  }

  &__title-top {
    font-size: 190px;
    letter-spacing: -0.035em;
    line-height: 1;

    @include vp-1023 {
      font-size: 150px;
    }

    @include vp-767 {
      font-size: 80px;
    }
  }

  &__title-middle {
    font-size: 130px;
    letter-spacing: -0.035em;
    margin: -34px 0 0 auto;
    line-height: 1;

    @include vp-1023 {
      font-size: 110px;
      margin: -20px 0 0 auto;
    }

    @include vp-767 {
      font-size: 60px;
      margin: -7px 0 0 auto;
    }
  }

  &__title-bottom {
    font-size: 95px;
    margin: -5px 0 0 138px;
    line-height: 1;

    @include vp-1023 {
      font-size: 75px;
    }

    @include vp-767 {
      font-size: 46px;
      margin: -3px 0 0 36px;
      letter-spacing: -0.035em;
    }
  }
}
