.respectability {
  margin: 0 0 120px 0;
  position: relative;
  overflow: hidden;

  @include vp-767 {
    margin: 0 0 52px 0;
  }

  &__decor {
    position: absolute;
    right: 0;
    top: -360px;
    z-index: -1;
    pointer-events: none;

    @include vp-767 {
      display: none;
    }
  }

  &__title {
    max-width: 654px;
    margin: 0 auto 39px;
    text-align: center;
    font-size: 70px;
    line-height: 1.1;
    letter-spacing: -0.035em;
    color: $color-ottoman;
    font-weight: 400;
    text-transform: uppercase;
    font-family: $ff-secondary;

    @include vp-1023 {
      max-width: unset;
      font-size: 55px;
    }

    @include vp-767 {
      font-size: 36px;
      margin: 0 0 32px 0;
    }
  }

  &__description {
    max-width: 953px;
    color: $color-white;
    font-size: 28px;
    line-height: 1.5;
    text-transform: uppercase;
    margin: 0 auto 75px;
    text-align: center;

    @include vp-1023 {
      font-size: 22px;
      max-width: unset;
      margin: 0;
      padding: 0 0 40px 0;
    }

    @include vp-767 {
      font-size: 18px;
      padding: 0 0 30px 0;
      text-align: left;
    }
  }

  &__video-box {
    position: relative;
    margin: 0 0 50px 0;

    @include vp-767 {
      margin: 0 -20px 30px;
    }
  }

  &__video {
    width: 100%;
    object-fit: cover;
    display: flex;

    @include vp-1023 {
      height: 400px;
    }

    @include vp-767 {
      height: 265px;
    }
  }

  &__video-play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba($color-grey, 0.8);
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 244px;
    gap: 16px;
    color: $color-white;
    font-size: 18px;
    line-height: 1.35;
    cursor: pointer;
    border: none;
    transition: transform $transition-300;

    &:hover,
    &:focus-visible {
      transform: translate(-50%, -50%) scale(1.1);
    }

    @include vp-1023 {
      font-size: 16px;
      padding: 15px;
      width: 210px;
    }

    @include vp-767 {
      font-size: 12px;
      line-height: 1;
      gap: 10px;
      width: 197px;
      padding: 16px;
    }
  }

  &__video-icon {
    @include vp-767 {
      width: 16px;
      height: 19px;
    }
  }

  &__subtitle {
    font-size: 30px;
    line-height: 36px;
    color: $color-white;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 45px 0;

    @include vp-1023 {
      font-size: 26px;
      line-height: 30px;
      margin: 0 0 25px 0;
    }

    @include vp-767 {
      font-size: 18px;
      line-height: 1.35;
      margin: 0 0 30px 0;
    }
  }

  &__list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 28px;

    @include vp-1023 {
      gap: 20px;
      overflow-x: auto;
      overflow-y: hidden;
      -ms-overflow-style: none;
      margin: 0 -30px;
      padding: 0 30px;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    @include vp-767 {
      margin: 0 -20px;
      padding: 0 20px;
    }
  }

  &__item {
    width: calc(33.33% - (28px * 2 / 3));
    flex-grow: 1;

    @include vp-1023 {
      width: 40%;
      flex-shrink: 0;
    }

    @include vp-767 {
      width: 320px;
    }
  }
}
